name: update-bot

on:
  schedule:
    - cron: "30 23 * * *"
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      is_update: ${{ steps.check_ver.outputs.is_update }}
      stable_ver: ${{ steps.check_ver.outputs.stable_ver }}
      docker_tags: ${{ steps.check_ver.outputs.docker_tags }}
    steps:
      - name: Check version
        id: check_ver
        uses: mogeko/latest-version@v1.1.0
        with:
          repo: Wind4/vlmcsd

  build:
    runs-on: ubuntu-latest
    needs: check
    if: needs.check.outputs.is_update == 'true'
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Log in to the Container registry
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@57396166ad8aefe6098280995947635806a0e6ea
        with:
          images: |
            ${{ github.repository_owner }}/vlmcsd
            ghcr.io/${{ github.repository_owner }}/vlmcsd
          tags: |
            type=schedule,pattern={{date 'YYYYMMDD'}}
            ${{ needs.check.outputs.docker_tags }}
      - name: Build and push Docker image
        id: build
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            VERSION=${{ needs.check.outputs.stable_ver }}
      - name: Save metadata
        run: echo ${{ toJSON(steps.build.outputs.metadata) }} > ${{ github.workspace }}/meta.json
      - name: Update metadata
        uses: actions/upload-artifact@v3
        with:
          name: metadata
          path: ${{ github.workspace }}/meta.json
