name: Build Container

on:
  push:
    branches-ignore:
      - master
  pull_request:
    branches:
      - master

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      new_ver: ${{ steps.check_ver.outputs.new_ver }}
    steps:
      - name: Check version
        id: check_ver
        run: |
          NEW_VER=$(curl -s "${REPO_URL}" | grep -Po "svn\d+" | head -1)
          echo "::set-output name=new_ver::${NEW_VER}"
        env:
          REPO_URL: https://github.com/Wind4/vlmcsd/releases/latest

  build:
    runs-on: ubuntu-latest
    needs: check
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      
      - name: Build
        run: make build
      
      - name: Run
        run: |
          tar -xzf .devcontainer/bin.tar.gz -C .
          make run CHECKER=./vlmcs PORT=${RANDOM}

  meta:
    runs-on: ubuntu-latest
    needs: check
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@a2e02890a0d28163b34ac2e4b575b9264a5ee3e2
        with:
          images: |
            ${{ github.repository_owner }}/vlmcsd
            ghcr.io/${{ github.repository_owner }}/vlmcsd
          tags: |
            type=edge
            type=schedule,pattern={{date 'YYYYMMDD'}}
            type=raw,${{ needs.check.outputs.new_ver }}
            type=raw,latest

      - name: Save status
        run: echo ${{ toJSON(steps.meta.outputs.json) }} > ${{ github.workspace }}/status.json

      - name: Update status
        uses: actions/upload-artifact@v2
        with:
          name: status
          path: ${{ github.workspace }}/status.json
