name: Release

on:
  push:
    branches: ["master"]
    tags: ["*"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Log in to Docker Hub
        uses: redhat-actions/podman-login@v1.7
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Log in to the GitHub Container Registry
        uses: redhat-actions/podman-login@v1.7
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.5.1
        with:
          images: |
            docker.io/${{ secrets.DOCKER_USERNAME }}/vlmcsd
            ghcr.io/${{ github.actor }}/vlmcsd
          tags: |
            type=edge,branch=master,enable={{is_default_branch}}
            type=ref,event=tag
            type=sha,prefix=sha-,format=short
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3.2.0
        with:
          platforms: amd64,arm64
      - name: Build container with rootless by Buildah
        uses: redhat-actions/buildah-build@v2.13
        id: build-image
        with:
          platforms: linux/amd64,linux/arm64
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          containerfiles: ./Dockerfile
          build-args: |
            VLMCSD_VERSION=${{ github.ref_name }}
          extra-args: --squash
      - name: Push to Container registry
        uses: redhat-actions/push-to-registry@v2.8
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}

  man-page:
    runs-on: ubuntu-latest
    if: ${{ github.ref == format('refs/heads/{0}', 'master') }}
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    concurrency:
      group: "pages"
      cancel-in-progress: false
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4.2.2
      - run: sudo apt-get update && sudo apt-get -y install groff
      - run: make -C ./vlmcsd-* pdfdocs htmldocs
      - uses: docker://pandoc/core:3.5.0
        with:
          args: --from=markdown --output=index.html README.md
      - run: |
          install -d ./_site && install -t ./_site \
              ./vlmcsd-*/man/vlmcs*.{pdf,html} ./LICENSE ./index.html
          ls -l ./_site
      - uses: actions/configure-pages@v5.0.0
      - uses: actions/upload-pages-artifact@v3.0.1
        with:
          path: "./_site"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
